/**
 * @fileOverview 定义全局公共样式
 * @date 2024-11-14
 * @author poohlaha
 */
@charset "utf-8";

/* 1. 浮动布局 */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* 2. flex布局 */
.flex,
.flex-center,
.flex-align-start,
.flex-align-center,
.flex-align-end,
.flex-jsc-start,
.flex-jsc-center,
.flex-jsc-end,
.flex-jsc-between,
.flex-jsc-around,
.flex-direction-column,
.flex-wrap,
.flex-reverse,
.flex-nowrap {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-align-start {
  align-items: start;
}

.flex-align-center {
  align-items: center;
}

.flex-align-end {
  align-items: end;
}

.flex-jsc-start {
  justify-content: flex-start;
}

.flex-jsc-center {
  justify-content: center;
}

.flex-jsc-end {
  justify-content: flex-end;
}

.flex-jsc-between {
  justify-content: space-between;
}

.flex-jsc-around {
  justify-content: space-around;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

/* 2. 定位 */
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-static {
  position: static;
}

.position-sticky {
  position: sticky;
}

.position-fixed {
  position: fixed;
}

/* 3. 文字对齐 */
.text-l {
  text-align: left;
}

.text-c {
  text-align: center;
}

.text-r {
  text-align: right;
}

/* 4. 宽高百分比 */
.wh100 {
  width: 100%;
  height: 100%;
}

.w100 {
  width: 100%;
}

.w33 {
  width: calc(100% / 3);
}

.w50 {
  width: 50%;
}

.w25 {
  width: 25%;
}

.h100 {
  height: 100%;
}

.mwh100 {
  min-width: 100%;
  min-height: 100%;
}

.min-h100 {
  min-width: 100%;
}

/* 5. 文字超出省略 */
.over-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 文字超出三行省略*/
.over-three-ellipsis,
.over-two-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* 文字超出两行省略*/
.over-two-ellipsis {
  -webkit-line-clamp: 2;
}

/* 文字超出三行省略*/
.over-three-ellipsis {
  -webkit-line-clamp: 3;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.overflow-x-auto {
  overflow-x: auto;
  overflow-y: hidden;
}

.overflow-y-auto {
  overflow-x: hidden;
  overflow-y: auto;
}

/* 换行 */
.line-break {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

/* 不换行 */
.no-line-break {
  word-break: keep-all;
  white-space: normal;
}

/* 6. 滚动条 */
/* x轴滚动 */
.x-scroll {
  overflow-x: scroll;
}

/* y轴滚动 */
.y-scroll {
  overflow-y: scroll;
}

/* 遮罩层 */
.mask {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in;
}

/* 鼠标 */
.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.disabled {
  cursor: not-allowed !important;
  opacity: 0.6;
}

.grid {
  display: grid;
}

/* padding margin */
.page-padding {
  padding: 20px;
}

.page-padding-top {
  padding-top: 20px;
}

.page-padding-bottom {
  padding-bottom: 20px;
}

.page-padding-left {
  padding-left: 20px;
}

.page-padding-right {
  padding-right: 20px;
}

.page-margin-top {
  margin-top: 20px;
}

.page-margin-bottom {
  margin-bottom: 20px;
}

.page-margin-left {
  margin-left: 20px;
}

.page-margin-right {
  margin-right: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.font-bold {
  font-weight: bold;
}

