/**
 * @fileOverview 定义 Setter 样式
 * @date 2024-11-14
 * @author poohlaha
 */
@border_color: #e5e5e5;
@theme: #1684fc;

.lower-engine-parser-box {

  .lower-engine-parser-setter {

  }

}

// slider
.ant-slider {
  height: 10px;
  width: 100px;
  margin: 0!important;

  .ant-slider-track {
    background: @theme!important;
  }

  .ant-slider-handle {
    width: 12px!important;
    height: 12px!important;
    inset-block-start: 0!important;

    &:focus::after {
      outline: none!important;
    }

    &::after {
      box-shadow: unset!important;
      inset-inline-start: 0!important;
      inset-block-start: 0!important;
      transition: none!important;
    }

    &::before {
      inset-inline-start: 0!important;
      inset-block-start: 0!important;
      background-color: #ffffff!important;
      box-shadow: rgba(34, 34, 34, 0.36) 0 1px 2px;
      border-radius: 50%;
      width: 12px!important;
      height: 12px!important;
    }

    &:hover {
      &::after {
        outline: unset!important;
        background: #cccccc;
      }
    }
  }
}

// input
.ant-input-number {
  border-color: #ffffff;
  width: 55px !important;
  height: 28px;

  &.ant-input-number-outlined:focus-within {
    border-radius: 2px;
    box-shadow: none!important;
  }

  &:not(.ant-input-number-focused):hover {
    border-color: @border_color!important;
    border-radius: 2px;
  }

  &.ant-input-number-focused {
    .ant-input-number-handler-wrap {
      opacity: 1;
    }
  }

  .ant-input-number-handler-wrap {
    width: 18px!important;
  }

  .ant-input-number-input-wrap {
    height: 100%;

    input {
      height: 100%;
      padding: 0 0 0 5px!important;
    }
  }
}

// opacity
.lower-engine-opacity {
  .lower-engine-opacity-input {
    margin-left: 10px;
  }

  .lower-engine-opacity-slider {
    margin-right: 10px;
  }
}