/**
 * @fileOverview 定义 Setter 样式
 * @date 2024-11-14
 * @author poohlaha
 */
@border_color: #e5e5e5;
@active_background: #e6e7eb;
@hover_background: #efeff0;
@theme: #1684fc;
@component_width: 24px;
@component_height: 24px;
@paragraph_height: 32px;
@font-size: 12px;
@color_gray_light: #999999;

.lower-engine-parser-box {
  // 段落
  .lower-engine-parser-paragraph {
  }
}

// slider
.ant-slider {
  height: 10px;
  width: 100px;
  margin: 0 !important;

  .ant-slider-track {
    background: @theme!important;
  }

  .ant-slider-handle {
    width: 12px !important;
    height: 12px !important;
    inset-block-start: 0 !important;

    &:focus::after {
      outline: none !important;
    }

    &::after {
      box-shadow: unset !important;
      inset-inline-start: 0 !important;
      inset-block-start: 0 !important;
      transition: none !important;
    }

    &::before {
      inset-inline-start: 0 !important;
      inset-block-start: 0 !important;
      background-color: #ffffff !important;
      box-shadow: rgba(34, 34, 34, 0.36) 0 1px 2px;
      border-radius: 50%;
      width: 12px !important;
      height: 12px !important;
    }

    &:hover {
      &::after {
        outline: unset !important;
        background: #cccccc;
      }
    }
  }
}

// checkbox
.ant-checkbox-wrapper {
  width: 16px;
  height: 16px;

  &:hover {
    .ant-checkbox-inner {
      border-color: #d9d9d9 !important;
    }
  }
}

// input group
.input-group {
  .ant-input-number {
    border-color: @border_color;
    width: 40px;
    transition: unset !important;

    &:hover {
      border-color: @theme!important;
    }

    &.ant-input-number-outlined:not(:first-child):hover {
      // border-left: 1px solid @theme!important;
    }

    &:not(.ant-input-number-focused):hover {
      border-radius: 4px;
      // border-color: @theme!important;
    }

    &.ant-input-number-outlined:focus-within {
      border-radius: 4px;
    }

    &.ant-input-number-focused {
      border-radius: 4px;
    }

    &.ant-input-number-focused:not(:first-child):not(:last-child) {
      border-left: 1px solid @theme!important;
    }

    &.ant-input-number-focused:last-child {
      border-left: 1px solid @theme!important;
    }
  }

  .ant-input-number:not(:first-child):not(:last-child) {
    border-radius: 0;
    border-left: unset;
  }

  .ant-input-number:first-child {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .ant-input-number:last-child {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: unset;
  }
}

// input
.ant-input-number {
  border-color: #ffffff;
  width: 55px;
  height: 28px;

  &.ant-input-number-outlined:focus-within {
    border-radius: 2px;
    box-shadow: none !important;
  }

  &:not(.ant-input-number-focused):hover {
    border-color: @border_color!important;
    border-radius: 2px;
  }

  &.ant-input-number-focused {
    .ant-input-number-handler-wrap {
      opacity: 1;
    }
  }

  .ant-input-number-handler-wrap {
    width: 18px !important;
  }

  .ant-input-number-input-wrap {
    height: 100%;

    input {
      height: 100%;
      padding: 0 0 0 5px !important;
    }
  }
}

// opacity
.lower-engine-widget {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:not(.flex-direction-column) {
    .lower-engine-widget-header {
      margin-right: 10px;
    }
  }

  &.flex-direction-column {
    .lower-engine-widget-header {
      margin-bottom: 10px;
      height: 25px;
    }
  }

  .lower-engine-opacity-input {
    margin-left: 10px;
  }

  .lower-engine-opacity-slider {
    margin-right: 10px;
  }

  .lower-engine-round,
  .lower-engine-fill {
    height: @paragraph_height;
  }

  // round
  .lower-engine-round {
    .round-control {
      width: @component_width;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      border-radius: 4px;
      height: @component_height;

      .svg-icon {
        width: 12px;
        height: 12px;
      }

      &:not(.active):hover {
        background: @hover_background;
      }

      &.active {
        background: @active_background;
      }
    }

    .round-control {
      margin-right: 5px;
    }
  }

  // fill
  .lower-engine-fill {
  }

  // color
  .lower-engine-color {
    height: @paragraph_height;

    .lower-engine-color-header {
      margin-right: 4px;
    }

    .lower-engine-color-thumbnail {
      margin: 0 6px;
      position: relative;
      width: 16px;
      height: 16px;
      display: inline-flex;
      background-image: linear-gradient(45deg, rgb(204, 204, 204) 25%, transparent 0px), linear-gradient(-45deg, rgb(204, 204, 204) 25%, transparent 0px),
        linear-gradient(45deg, transparent 75%, rgb(204, 204, 204) 0px), linear-gradient(-45deg, transparent 75%, rgb(204, 204, 204) 0px);
      background-size: 10px 10px;
      background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
      background-clip: padding-box;
      border-radius: 2px;
      border: 1px solid #f1f1f1;
      background-color: #f1f1f1;
      box-sizing: border-box;

      &::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        left: -1px;
        top: -1px;
        border: 1px solid rgb(229, 229, 229);
        cursor: pointer;
        overflow: hidden;
        border-radius: 2px;
        background-color: transparent;
      }

      .thumbnail {
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 2px;
        background-size: cover;
        // border: 1px solid rgba(0, 0, 0, 0.17);
        box-sizing: border-box;
      }
    }
  }

  // stroke
  .lower-engine-stroke {
    .lower-engine-stroke-line {
      height: @paragraph_height;
      margin-left: 28px;

      .ant-input-number {
        margin-left: 6px;
        margin-right: 6px;
      }

      .stroke-menu {
        width: @component_width;
        height: @component_height;

        &.active {
          background: @active_background;
          border-radius: 4px;
        }

        &:hover {
          background: @hover_background;
          border-radius: 4px;
        }

        .border-svg-box {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.lower-engine-stroke-dropdown,
.lower-engine-stroke {
  .stroke-solid .stroke-solid-line,
  .stroke-dotted .stroke-dotted-line,
  .stroke-dashed .stroke-dashed-line {
    width: 43px;
    height: 2px;
    background-repeat: repeat-x;
    background-position: left center;
  }

  .stroke-solid,
  .stroke-dotted,
  .stroke-dashed {
    min-width: auto;
    max-width: initial !important;
    // padding: 0 16px 0 32px;
  }

  .stroke-solid {
    .stroke-solid-line {
      background-image: linear-gradient(to right, currentcolor 0%, currentcolor 100%, transparent 0%);
      background-size: 43px 1px;
    }
  }

  .stroke-dotted {
    .stroke-dotted-line {
      background-image: linear-gradient(to right, currentcolor 0%, currentcolor 25%, transparent 25%);
      background-size: 4px 1px;
    }
  }

  .stroke-dashed {
    .stroke-dashed-line {
      background-image: linear-gradient(to right, currentcolor 0%, currentcolor 55%, transparent 55%);
      background-size: 22% 1px;
    }
  }
}

.lower-engine-dropdown {
  .rc-virtual-list-holder-inner {
    padding: 8px;
  }

  .ant-select-item {
    height: 24px;
    min-height: 24px;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &.ant-select-item-option-selected {
      border-end-start-radius: 4px !important;
      border-end-end-radius: 4px !important;
      background: @hover_background!important;

      .svg-box-small {
        .svg-icon {
          color: @theme!important;
        }
      }

      .stroke-solid-line,
      .stroke-dotted-line,
      .stroke-dashed-line {
        color: @theme;
      }
    }

    .svg-box-small {
      width: 8px;
      height: 8px;
      margin-right: 5px;

      .svg-icon {
        width: 8px;
        height: 8px;
      }
    }
  }

  .lower-engine-option {
    .success-svg-box {
      opacity: 0;
    }

    &.active {
      .success-svg-box {
        opacity: 1;

        .svg-icon {
          color: @theme;
        }
      }

      .lower-engine-option-text {
        color: @theme;
      }
    }

    .lower-engine-option-text {
      font-size: 13px;
    }
  }
}

.lower-engine-stroke-border-popover {
  .ant-popover-inner {
    width: 112px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 2px 10px;
    border: 1px solid rgb(222, 224, 226);

    .border-wrapper {
      width: 78px;
      height: 78px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .border-top-width,
      .border-bottom-width {
        position: relative;
        width: 36px;
        height: 14px;
        background: @active_background;
        cursor: pointer;

        &.border-line::after {
          content: ' ';
          display: block;
          position: absolute;
          top: 7px;
          left: -15px;
          height: 2px;
          width: 66px;
          background: rgba(0, 0, 0, 0.6);
        }
      }

      .center-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 7px 0;

        .border-left-width,
        .border-right-width {
          position: relative;
          height: 36px;
          width: 14px;
          background: @active_background;
          cursor: pointer;

          &.border-line::after {
            content: ' ';
            display: block;
            position: absolute;
            top: -14px;
            left: 6px;
            height: 66px;
            width: 2px;
            background: rgba(0, 0, 0, 0.6);
          }
        }
      }
    }
  }
}

// select
.ant-select {
  &:hover,
  &.ant-select-focused {
    .ant-select-selector {
      border-color: #d9d9d9 !important;
      box-shadow: unset !important;
    }
  }
}

.lower-engine-input-box {
  height: 28px;
  border-radius: 4px;
  border: 1px solid transparent;

  &:hover,
  &.visible {
    border: 1px solid @border_color!important;

    .lower-engine-input-action {
      visibility: visible !important;
      background: @hover_background!important;
    }
  }

  .ant-input-number:not(.ant-input-number-focused) {
    border-width: 0;
    background: unset !important;
    width: 38px !important;
  }

  .ant-input-number {
    .ant-input-number-handler-wrap {
      display: none !important;
    }
  }

  .ant-input-number:focus {
    box-shadow: unset !important;
  }

  .ant-input-number-focused {
    width: 38px;
    border-width: 1px !important;
    box-shadow: unset !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
  }

  .ant-input-number-focused + .lower-engine-input-action {
    visibility: visible;
    background: #ffffff;
  }

  .lower-engine-input-action {
    width: 26px;
    height: 26px;
    background: @hover_background;
    visibility: hidden;

    .arrow-svg-box {
      width: 26px;
      height: 26px;

      .svg-icon {
        color: rgba(0, 0, 0, 0.85);
      }
    }
  }
}

.lower-engine-popover,
.lower-engine-dropdown {
  max-width: 176px;

  .ant-dropdown-menu {
    padding: 10px 0;
  }
  .lower-engine-content-item:not(:last-child) {
    margin-bottom: 4px;
  }

  .ant-dropdown-menu-item {
    padding: 2px 8px !important;

    &:hover {
      background-color: #ffffff !important;
    }
  }

  .lower-engine-content-item {
    padding: 3px 12px;

    &:hover,
    &.active {
      background: @hover_background;
      border-radius: 4px;

      .svg-box-small,
      .svg-box,
      .success-svg-box {
        .svg-icon {
          color: @theme;
        }
      }

      .lower-engine-content-item-text,
      .lower-engine-content-item-suffix {
        color: @theme;
      }
    }

    &.active {
      .svg-box-small,
      .svg-box,
      .success-svg-box {
        visibility: visible !important;
      }
    }

    .svg-box-small,
    .svg-box,
    .success-svg-box {
      visibility: hidden;

      .svg-icon {
        width: 8px;
        height: 6px;
      }
    }

    .lower-engine-content-item-text {
      margin-left: 6px;
      font-size: 12px;
    }

    .lower-engine-content-item-suffix {
      margin-left: 6px;
      color: #666666;
      font-size: 12px;
    }
  }
}

// font bold
.lower-engine-font-bold,
.lower-engine-alignment {
  width: 96px;
  height: 24px;
  right: 0;

  .lower-engine-font-bold-item,
  .lower-engine-alignment-item {
    &.active {
      background: @hover_background;
      border-radius: 4px;
    }

    &:hover:not(.active) {
      background: @active_background;
      border-radius: 4px;
    }
  }

  .svg-box-small {
    flex: 1 1 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    place-content: center;
    transition: background-color 0.2s ease-out;
    border-radius: 4px;

    .svg-icon {
      width: 24px;
      height: 24px;
      color: rgba(0, 0, 0, 0.85);
    }
  }
}

// margin
.lower-engine-margin {
  height: @paragraph_height;

  .lower-engine-margin-spacing-line:has(.ant-input-number-focused),
  .lower-engine-margin-line-height:has(.ant-input-number-focused) {
    border: 1px solid @border_color!important;
  }

  .lower-engine-margin-spacing-line,
  .lower-engine-margin-line-height {
    border: 1px solid transparent;
    border-radius: 6px;
    overflow: hidden;

    &:hover {
      border: 1px solid @border_color;

      .ant-input-number {
        border-color: #ffffff !important;

        .ant-input-number-handler-wrap {
          opacity: 1;
        }
      }
    }

    .ant-input-number.ant-input-number-focused {
      border-color: #ffffff !important;
    }
  }

  .lower-engine-margin-line-height {
    margin-left: 10px;
  }
}

.lower-engine-margin-popover {
  .ant-popover-inner {
    padding: 0 !important;
  }

  .lower-engine-margin-popover-content {
    font-size: @font-size;
    color: rgba(0, 0, 0, 0.85);

    header {
      height: 40px;
      border-bottom: 1px solid @border_color;
      padding: 0 10px 0 16px;
    }

    .lower-engine-margin-popover-content-inner {
      padding: 8px 10px;

      .lower-engine-margin-popover-content-inner-item {
        padding: 6px 0;
        min-height: @paragraph_height;

        .text-arrangement,
        .list-order {
          &:hover {
            background: @hover_background;
            border-radius: 4px;
          }

          &.active {
            background: @active_background;
            border-radius: 4px;
          }
        }

        &.lower-engine-margin-popover-content-inner-item-margin,
        &.lower-engine-margin-popover-content-inner-item-padding {
          flex: 1 1 0;
          display: flex;

          p {
            line-height: 28px;
          }

          .inner-item-margin {
            width: 40px;
          }

          .input-group .inner-item-margin:not(:first-child):not(:last-child) {
            .ant-input-number-focused {
              border-left: 1px solid @theme!important;
            }
          }

          .input-group .inner-item-margin:last-child {
            .ant-input-number-focused {
              border-left: 1px solid @theme!important;
            }
          }

          .input-group .inner-item-margin:last-child {
            .ant-input-number {
              border-bottom-right-radius: 6px !important;
              border-top-right-radius: 6px !important;
            }
          }

          .input-group .inner-item-margin:not(:first-child):not(:last-child) {
            .ant-input-number {
              border-left: unset;
              border-radius: 0;
            }
          }

          .input-group .inner-item-margin:not(:first-child):hover {
            .ant-input-number.ant-input-number-outlined {
              //  border-left: 1px solid @theme !important;
            }
          }

          .input-group .inner-item-margin:last-child {
            .ant-input-number {
              border-bottom-left-radius: 0 !important;
              border-left: unset;
              border-top-left-radius: 0 !important;
            }
          }
        }
      }
    }
  }
}

.lower-engine-alignment {
  .alignment-flex {
    margin-left: 10px;
  }
}

.lower-engine-selector {
  &:not(.flex-direction-column) {
    height: @paragraph_height;
  }

  &.flex-direction-column {
    button {
      height: 32px;
      margin-top: 8px;
    }
  }

  &.show-border {
    button {
      border: 1px solid @border_color;
    }
  }

  button {
    &:hover {
      border: 1px solid @border_color;
      border-radius: 4px;
    }

    .text {
      max-width: 200px;
      overflow: hidden;
      padding: 5px 0;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .arrow-svg-box {
      color: rgba(0, 0, 0, 0.4);
      height: 24px;
      width: 24px;
    }
  }
}

// color
.lower-engine-color-popover {
  .ant-popover-inner {
    padding: 0 !important;
  }

  .lower-engine-color-popover-content {
    font-size: 12px;

    .color-picker-header {
      padding: 12px 8px 12px 12px;
      height: 40px;
      border-bottom: 1px solid rgba(51, 51, 51, 0.05);

      .header-icon {
        display: flex;
        line-height: 1;
        font-weight: normal;
        cursor: pointer;
      }
    }

    .color-picker-body {
      margin-top: 12px;
      padding: 0 15px;

      .colors-container {
        height: 122px;
        line-height: 0;
        margin-bottom: 8px;

        .color-item {
          width: 18px;
          height: 18px;
          border-radius: 2px;
          display: inline-block;
          margin-right: 7px;
          margin-bottom: 7px;
          border: 1px solid rgba(0, 0, 0, 0.08);
          cursor: pointer;
          position: relative;

          &.active {
            &::after {
              content: '';
              position: absolute;
              left: -2px;
              top: -2px;
              width: 20px;
              height: 20px;
              border: 1px solid @theme;
              border-radius: 2px;
              box-sizing: border-box;
            }
          }
        }

        .color-item:nth-child(9n + 9) {
          margin-right: 0;
        }
      }

      .ant-slider-horizontal {
        width: 100% !important;
        padding-block: 0 !important;

        .ant-slider-track {
          background: transparent !important;
        }

        .ant-slider-rail,
        .ant-slider-track,
        .ant-slider-step {
          height: 100% !important;
        }

        .ant-slider-handle {
          inset-block-start: -3px !important;

          &:hover {
            &::after {
              background: transparent !important;
            }
          }
        }
      }

      .ant-slider-vertical {
        height: 100% !important;
        width: 10px !important;
        left: -6px !important;

        .ant-slider-track {
          background: transparent !important;
        }

        .ant-slider-rail,
        .ant-slider-track,
        .ant-slider-step {
          width: 100% !important;
        }

        .ant-slider-handle {
          inset-block-start: -3px !important;

          &:hover {
            &::after {
              background: transparent !important;
            }
          }
        }
      }

      .tab-line {
        margin-bottom: 8px;
        flex-direction: row;

        .selector-sc {
          width: 54px;
          height: 26px;
          border-radius: 4px;
          background: #f2f2f2;
          overflow: hidden;

          .color-space,
          .color-swatch {
            width: 27px;
            height: 22px;
            cursor: pointer;
            overflow: hidden;
            margin: 2px;
            border-radius: 4px;

            &.active {
              background: rgb(255, 255, 255);
              filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 0px 4px);
            }
          }
        }
      }

      .picker-band,
      .opacity-band {
        position: relative;
        height: 10px;
        border: 0.5px solid rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        cursor: pointer;
        background-clip: padding-box;

        .rail {
          position: absolute;
          inset: 1px calc(3.5px);
        }
      }

      .color-picker {
        .picker {
          display: flex;
          flex-direction: row;
          height: 122px;
          margin-bottom: 8px;

          .picker-plane {
            position: relative;
            height: 122px;
            width: 208px;
            margin-right: 8px;
            border-radius: 4px;
            background-clip: content-box;
            overflow: hidden;

            .base-hub-layer,
            .s-layer,
            .v-layer {
              position: absolute;
              width: 100%;
              height: 100%;
              pointer-events: none;
            }

            .s-layer {
              background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
            }

            .v-layer {
              background: linear-gradient(transparent 0%, black 100%);
            }

            .pointer {
              position: absolute;
              width: 14px;
              height: 14px;
              margin: calc(-7px);
              box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 0;
              border: 2px solid white;
              border-radius: 50%;
              background-color: transparent;
              pointer-events: none;
            }
          }

          .picker-band {
            height: 122px;
            width: 10px;
            margin-bottom: 10px;
            background-image: linear-gradient(
              to top,
              red,
              rgb(255, 0, 128),
              magenta,
              rgb(128, 0, 255),
              blue,
              rgb(0, 128, 255),
              cyan,
              rgb(0, 255, 128),
              lime,
              rgb(128, 255, 0),
              yellow,
              rgb(255, 128, 0),
              red
            );

            .rail {
              top: -3px;
              bottom: 9px;
              left: 4px;
            }
          }
        }

        .opacity-box {
          margin: 0 2px;

          .opacity {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex: 1 1 0;

            .color-picker-btn {
              width: 28px;
              height: 28px;
              margin-left: -5px;
              margin-right: 8px;
              cursor: pointer;
              border-radius: 4px;
              display: flex;
              background: transparent;
            }

            .opacity-band {
              width: 195px;
              background-image: linear-gradient(45deg, rgb(204, 204, 204) 25%, transparent 25%), linear-gradient(-45deg, rgb(204, 204, 204) 25%, transparent 25%),
                linear-gradient(45deg, transparent 75%, rgb(204, 204, 204) 75%), linear-gradient(-45deg, transparent 75%, rgb(204, 204, 204) 75%);
              background-size: 6px 6px;
              background-position: 0 0, 0 3px, 3px -3px, -3px 0px;
            }
          }
        }
      }

      .color-group {
        padding-right: 1px;
        margin: 8px 0;

        .lower-engine-color-selector {
          width: 56px;
        }

        .hex-input {
          flex: 0 0 160px;
          position: relative;
          border-radius: 4px;
          padding-left: 0;
          margin-left: 12px;
          margin-right: 0;
          height: 28px;

          &:hover:not(.disable):not(.focused) {
            &:not(:has(.ant-input-number-focused)) {
              box-shadow: @border_color 0 0 0 1px inset;
              border-radius: 4px;

              .suffix {
                border-left: 1px solid @border_color;
              }
            }

            .ant-input-number:not(.ant-input-number-focused) {
              border-left: 1px solid @border_color;
              border-radius: 0;

              .ant-input-number-handler-wrap {
                opacity: 1;
              }
            }
          }

          &:has(.ant-input-number-focused),
          &.focused {
            box-shadow: @theme 0 0 0 1px inset;
            border-radius: 4px;

            .ant-input-number-handler-wrap {
              opacity: 1;
            }

            .ant-input-number {
              border-left: 1px solid @border_color;
            }

            .suffix {
              border-left: 1px solid @border_color;
            }
          }

          .ant-input-number:not(.ant-input-number-focused):hover {
            border-top-color: #ffffff !important;
            border-right-color: #ffffff !important;
            border-bottom-color: #ffffff !important;
          }

          .ant-input-number-focused {
            border-top-color: #ffffff !important;
            border-right-color: #ffffff !important;
            border-bottom-color: #ffffff !important;
            border-left-color: @border_color!important;
          }

          .hex-suffix {
            position: absolute;
            left: 9px;
            font-size: 12px;
            color: #cccccc;
            cursor: default;
          }

          .bg-color-text {
            padding: 7px 0 7px 15px;
            width: 65px;
            background-color: transparent;
            box-sizing: content-box;
            margin-left: 4px;
          }

          .hex-input-opacity {
            box-shadow: none;
            padding: 2px;

            .ant-input-number {
              height: 24px !important;
            }

            .suffix {
              height: 24px;
              padding: 2px 2px 2px 4px;
            }
          }
        }
      }

      .panel-color-list {
        padding-top: 8px;

        header {
          margin-top: 5px;
          margin-bottom: 5px;
        }

        .current-palette {
          display: flex;
          flex-wrap: wrap;
          margin: 0 0 8px -2px;
          padding: 0 0 0 2px;
          max-height: 115px;
          overflow: hidden auto;
          width: 239px;

          .current-palette-color {
            list-style: none;
            width: 18px;
            height: 18px;
            cursor: pointer;
            margin-top: 8px;
            margin-bottom: 2px;
            position: relative;

            &:not(:nth-child(9n)) {
              margin-right: 8px;
            }

            .color-box {
              height: 100%;
              width: 100%;
            }
          }
        }
      }

      .panel-color-list:last-child {
        padding-bottom: 8px;
      }
    }
  }
}

.lower-engine-popover {
  .divider-setter {
    padding: 0 8px;
    width: 100%;
    height: 1px;
    background-color: rgba(204, 204, 204, 0.2);
  }

  .close-btn {
    &:hover {
      background: @hover_background;
      border-radius: 4px;
    }
  }
}

.lower-engine-shadow {
  .input-group {
    margin-left: 28px;
  }
}

.lower-engine-opacity {
  .lower-engine-opacity-header {
    margin-right: 10px;
  }
}

.lower-engine-selector,
.lower-engine-input {
  &.flex-direction-column {
    width: 100%;
  }
}

.lower-engine-input {
  .ant-input-prefix {
    svg {
      width: 16px;
      height: 16px;
      color: @color_gray_light;
    }
  }

  .ant-input-affix-wrapper {
    border-radius: 4px !important;

    &:hover,
    &:focus,
    &:focus-visible,
    &.ant-input-affix-wrapper-focused {
      box-shadow: none !important;
      border: 1px solid @border_color!important;
    }

    &.flex-direction-column {
      height: 32px;
    }

    .ant-input {
      &:hover,
      &:focus,
      &:focus-visible,
      &.ant-input-affix-wrapper-focused {
        border: unset !important;
        box-shadow: none !important;
      }
    }

    .ant-input-suffix {
      .ant-input-clear-icon {
        svg {
          color: @color_gray_light!important;
        }
      }
    }
  }
}

.lower-engine-icon-dialog {
  width: 24px;
  height: 24px;
  border: 1px solid @border_color;
  border-radius: 4px;
  cursor: pointer;

  button {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &:hover {
    background: @hover_background;
  }
}

.lower-engine-icon-dialog-modal {
  .ant-modal-content,
  .ant-tabs-tab-active {
    background: #ffffff !important;
  }

  .ant-modal-footer {
    .ant-btn-default {
      color: initial !important;
    }
  }

  .ant-modal-close {
    margin-top: 9px;
  }

  .ant-modal-content {
    overflow: hidden !important;

    .ant-modal-body {
      height: 400px;
      max-height: 400px !important;
      overflow: hidden !important;

      .lower-engine-icon-dialog-modal-content {
        height: 100%;
        overflow: hidden;

        .icon-dialog-modal-content-header {
          margin-bottom: 8px;
          line-height: 24px;
          height: 32px;

          .lower-engine-input {
            margin-left: 15px;
            margin-right: 20px;
          }

          .header-title {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            word-wrap: break-word;
          }
        }

        .lower-engine-icon-dialog-modal-content-tab-wrapper {
          overflow-y: auto;

          .search-text {
            .search-value {
              color: #f64242;
            }
          }
        }
      }
    }
  }

  .lower-engine-icon-dialog-modal-content-tab {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fill, 100px);

    .tab-icon {
      border-radius: 4px;
      cursor: pointer;
      height: 100px;

      &:hover {
        background: @hover_background;
      }

      &.active {
        background: @active_background;
      }

      i {
        width: 32px;
        height: 32px;
      }

      p {
        margin-top: 4px;
      }
    }
  }
}
