// component

.m-text {
  height: 32px;

  .m-text-text {
    margin-right: 5px;
    width: 100px;
  }

  .text-tips {
    width: 16px !important;
    height: 16px !important;

    .svg-icon {
      width: 14px !important;
      height: 14px !important;
    }
  }
}

.lower-engine-text-popover {
  width: auto !important;
}

.lower-engine-dropdown {
  .lower-engine-content-item-desc {
    color: #aaacb8;
    font-size: 12px;
    margin-left: 14px;
  }

  .lower-engine-content-item-extra {
    color: #999999;
    font-size: 12px;
  }
}

.lower-engine-upload {
  .upload-actions {
    top: 0;
    left: 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.45);
    opacity: 0;

    .upload-preview-box, .action-del-box {
      width: 16px;
      height: 16px;
      color: #ffffff;
    }

    .action-del-box {
      margin-left: 4px;
    }
  }

  .upload-container {
    &:hover {
      .upload-actions {
        opacity: 0.8;
      }
    }
  }
}
